<h1>Калькулятор</h1>
<h2>Выбрать тип операции:</h2>
<select
class="custom-select mb-3"
(change)="changeOperation($event)"
>
<option value="">Тип операции</option>
<option *ngFor="let op of Operation">
  {{ op }}
</option>
</select>
<h2>Введите первое значение:</h2>
<input type="text" name="param1" class="form-control size" id="param1" (change)="changeParam1($event)">
<h2>Введите второе значение:</h2>
<input type="text" name="param2" class="form-control size" id="param2" (change)="changeParam2($event)">
<br><button class="btn btn-danger ml-2 " (click)="getResult(param1_val, param2_val)">Результат</button>
<div class="result">
  <input type="text" value="{{result}}">
</div>
<router-outlet></router-outlet>